.card-deck
{
    display: flex;
    flex-flow: row wrap;
}

.card
{
    width: 33.33%;
    background-color: white;
}

@media (max-width: 900px)
{
    .card
    {
        width: 50%;
    }
}

@media (max-width: 500px)
{
    .card
    {
        width: 100%;
    }
}