.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    column-gap: 25px;
}

.myArticle
{
    width: 33%;
    margin: 0.1em;
    padding: 0.1em;
    column-span: 3;
}
