.Timetable
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.numbers
{
    padding: 1em;
    border: 1px solid black;
}

.number--1
{
    grid-column-start: 2;
}

.days
{
    grid-column: 1;
    border: 1px solid black;
    padding: 1em;
}

.timetable__item
{
    border: 1px solid black;
    padding: 1em;
}

.item--A
{
    grid-row: 3/4; /*môže byť aj iba 3, keď zaberá 1 políčko*/
    grid-column: 3/5;
}

.item--B
{
    grid-row: 3;
    grid-column: 7/8; /*tu tiež stačí len 7*/
}

.item--C
{
    grid-row: 4;
    grid-column: 4/5; 
}

.item--D
{
    grid-row: 4;
    grid-column: 5;
}

.item--E
{
    grid-row: 6;
    grid-column: 2/4;
}

.item--F
{
    grid-row: 6;
    grid-column: 5/7;
}


/*skúšala som napraviť aj ten margin, ako si vravela :) , ale ono sa tam aj tak tie čiary zdvoja keď tú stránku potom rozťahuješ vo VScode*/
