.head
{
    border: 0.1em solid black;
    padding: 1em;
    margin: 1em 4em 1em 4em;
}

.nav
{
    border: 0.1em solid black;
    padding: 1em; 
    background-color: lightblue;
    margin: 0.5em 0em 0.5em 0em;  /*top, right, bottom, left */
}

.grid-container
{
    display: grid;
    margin-left: 3em;
    margin-right: 3em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: start;
}

.grid-element
{
    border: 0.1em solid black;
    padding: 3em;
    margin: 1em;
}

footer
{
    border: 0.1em solid black;
    padding: 1em;
    margin: 1em 4em 1em 4em;
}